
strong {
  background-color: #FFFF99;
}

blockquote {
  background-color: #F9F9F9;
}

.post blockquote {
  border-left: 2px solid #CCC; !important
}

.toc {
  font-size: 0.85em;
  font-weight: bold;
}
